{% extends "index.twig" %}
{% block content %}

    <div class="line">
        <div class="box margin-bottom news-box">
            <div class="margin gallery-lists">
                <!-- CONTENT -->
                <div class="s-12 l-12 margin-bottom">
                    <h1>{{ lang.gallery_header }}</h1>
                </div>
                <article class="s-12 l-12">
                    <div class="margin">
                        {% for item in items %}
                        <div class="s-12 l-4 margin-bottom">
                            <a href="{{ base_url }}gallery/details/{{ item.id }}">
                                <img src="{{ item.picture }}">
                                <h3 class="title">{{ item.category_name }}</h3>
                                <p class="subtitle">{{ item.total }} {{ lang.gallery_photos }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
         
{% endblock %}